@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

form {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightskyblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div {
    margin: 5px 0px;
}

input[type="button"] {
    width: 100%;
}